.container {
  width: 300px;
  height: 455px;
  border: 0.5px solid white;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  height: 425px;
  border-radius: 5px;
  padding: 20px 20px 0px 20px;
  background-color: lightskyblue;
  box-sizing: border-box;
}

.card-image-area {
  width: 260px;
  height: 150px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card-title {
  font-weight: 650;
  margin-bottom: 10px;
}

.card-paragraph {
  height: 118px;
  font-size: 12pt;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-bottom-deco {
  width: 100%;
  height: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: aqua;
}

.card-button-space {
  width: 100px;
  height: 100px;
  background-color: white;
}

.card-button {
  width: 90px;
  height: 90px;
  background-color: dodgerblue;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-icon {
  width: 70px;
  height: 70px;
  background-color: dodgerblue;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: fill;
  top: 50px;
  left: 20%;

  
}